@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background: #FFFFFF;

  margin:0;
}

.navigation-link {
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.main-index {
  background: #FFFFFF url("/images/index-background.jpg") no-repeat;
  background-size: 1200px 485px;
}

.index-welcome{
  width: 458px;
  height: 352px;
  background:url("/images/welcome.svg") no-repeat;

}
.index-divider{
  width: 1200px;
  height: 57px;
  background: url("/images/divider.svg") no-repeat;
}
.title-description{
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
