@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden{
  display: none;
}
html {
  height: 100%;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background: #F2F2F2;
  overflow-x: hidden;
  margin: 0;
  height: 100%;
}
.body-container{
  width: 1200px;
  margin: 0 auto;
  color: #000000;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.page-header {
  padding: 0 70px;
}

.navigation{
  width:100%;
  display: flex;
  margin: 0 auto;
  height: 65px;
}

.header-logo{
  width: 139px;
  position: relative;
}

.header-logo img {
  position: absolute;
  top: 0;
}

.navigation-list{
  list-style: none;
  display: flex;
  margin: 0 0 0 45px;
  padding: 0;
  align-items: center;
  gap: 35px;
}
.navigation-user{
  margin-left: auto;
}
.navigation-link {
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}
.page-container{
  width: 100%;
  margin: 0 auto;
}
.main-index {
  background: #FFFFFF url("../images/index-background.jpg") no-repeat;
  background-size: 100% 485px;
  color: #000000;
  text-align: center;
}
.main-container{
  flex-grow: 1;
}
.index-welcome{
  width: 458px;
  height: 352px;
  background:url("../images/welcome.svg") no-repeat;
  margin: 51px auto 25px;
}
.index-divider{
  width: 100%;
  height: 57px;
  background: url("../images/divider.svg") no-repeat;
}
.index-container{
  width: 100%;
}
.title-text{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.index-container > .title-text{
  padding-top: 63px;
  padding-bottom: 31px;
  margin:0 auto;
}
.reasons-description{
  margin:0 auto;
  padding-bottom: 98px;
}
.reasons{
  margin:0 auto;
  width: 100%;
}
.reasons-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin:0;
  padding:0;
}
.reasons-item{
  display: flex;
  flex-wrap: wrap;
}
.blue-background{
  background: #82B3D3;
  color: #FFFFFF;
}
.block{
  width:400px;
  display:flex;
  flex-direction: column;

}
.reasons-item-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.reasons-item-description{
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color:#333333;
}
.blue-background .reasons-item-description{
  color: #FFFFFF;
}
.reasons-item-list{
  display: flex;
  list-style: none;
}
.search{
  margin:0 auto;
  width: 100%;
}
.search > .title-text{
  padding: 91px 0 29px;
  margin: 0 auto;
}
.search p{
  margin: 0 auto;
  padding-bottom: 56px;
}
.search-button{
  margin: 0 auto 93px;
}
.subscribe{
  background: #000000 url("../images/subscribe-background.jpg") no-repeat;
  background-size: 100% auto;
  color:#FFFFFF;
  width:100%;
  margin:0 auto;
}
.subscribe .title-text{
  padding: 94px 0 29px;
  margin: 0 auto;
}
.subscribe p{
  margin: 0 auto;
  padding-bottom: 46px;
}
.subscribe-form{
  margin-bottom: 94px;
  display:block;
}
.page-footer-container{
  width: 100%;
  height: 120px;
  margin: 0 auto;
  display: flex;
  padding:0 70px;
  justify-content: space-between;
  align-items: center;
}
.phone{
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}


.main-catalog{
  color: #000000;
  background: #FFFFFF;
}
.catalog-form{
  background: #000000 url("../images/catalog-background.jpg") no-repeat;
  background-size: 100% auto;
  color: #FFFFFF;

  margin: 0 auto;
  padding: 35px 70px 70px;
}
.catalog-form h1{
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;

  padding-bottom: 10px;
}
.main-navigation{
  font-size: 16px;
  line-height: 21px;

  padding-bottom: 40px;
}
.catalog-filter-container{
  display: flex;
  justify-content: space-between;
}
.catalog-filter-title{
  text-align: left;
  font-size: 20px;
  font-weight: 700;
}
.catalog-filter-item{
  text-align: left;
  font-size: 18px;
  line-height: 21px;
}
.catalog-hotels{
  width: 100%;
  margin:0 auto;
}
.catalog-hotels-header{
  display: flex;
  margin: 0 auto;
  padding: 50px 71px 56px 72px;
  justify-content: space-between;
}
.select-control{
  text-align: left;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
}
.product-list{
  display:flex;
  padding: 0 71px 66px 73px;
  margin:0 auto;
  list-style: none;
  flex-wrap: wrap;
}
.product-card{
  width:340px;
  height:438px;
}
.product-card-link{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}
.product-card-type{
  font-size: 18px;
  line-height: 21px;
}
.product-card-price{
  font-size: 18px;
  line-height: 21px;
  color:#333333;
}
.rating{
  font-size: 16px;
  line-height: 20px;
  color:#333333;
  background: #F2F2F2;
}
.catalog-divider{
  background: #E6E6E6;
  margin: auto 0;
  height:1px;
}
.catalog-divider-container{
  height:1px;
  padding: 0 72px 30px 73px;
}
.pagination-container{
  height:60px;
  padding: 0 71px 0 73px;
  display:flex;
  justify-content: space-between;
}
.pagination{
  margin:0;
  display:flex;
}
.pagination-link{
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}
.pagination-current{
  background-color:#F2F2F2;
  color: #000000;
}
.hotels-num{
  font-size: 18px;
  line-height: 21px;
  color:#333333;
}
.catalog-subscribe{
  text-align: center;
  width:100%;
  margin:0 auto;
}
.catalog-subscribe p{
  color:#333333;
  margin: 0 auto;
  padding-bottom: 46px;
}
.catalog-subscribe .title-text{
  padding: 94px 0 29px;
  margin: 0 auto;
}

