@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html {
  height: 100%;
}
body {
  margin: 0;
  width:100%;
  height: 100%;

  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;

  background: #F2F2F2;

  overflow-x: hidden;
}
.body-container{
  margin: 0 auto;
  width: 1200px;
  min-height: 100%;

  color: #000000;
  background: #FFFFFF;

  display: flex;
  flex-direction: column;
}
.page-header {
  padding: 0 70px;
}

.navigation{
  margin: 0 auto;
  width:100%;
  height: 65px;

  display: flex;
}

.header-logo{
  width: 139px;

  position: relative;
}

.header-logo img {
  position: absolute;
  top: 0;
}

.navigation-list{
  margin: 0 0 0 30px;
  padding: 0;
  width:450px;

  list-style-type: none;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.navigation-user{
  margin-left: auto;
  max-width:400px;

  justify-content: flex-end;
}
.navigation-link.active{
  border: #756257;
  border-bottom-width: 2px;
}
.navigation-link {
  margin: 0;
  padding: 20px 12px;

  color: #000000;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;

  display:block;
}
.search-link{
  background: url('../images/header/search.svg') no-repeat center;
}
.favorite-link{
  margin-right: 20px;
  position: relative;
  background: url('../images/header/favorite.svg') no-repeat center;
}
.favorite-link-count{
  width: 20px;
  height: 20px;

  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;

  background: #7DB54F;
  border-radius: 50%;
  position: absolute;
  top:15px;
  right:6px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-user .navigation-link {
  min-width: 33px;
  min-height: 26px;
}
.navigation-button{
  padding: 9px 30px 8px;
  min-width: 160px;
  max-width: 220px;

  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;

  cursor: pointer;

  background: #756157 no-repeat;
  border-radius: 4px;
  border-width: 0;
}
.main-index {
  background: #FFFFFF url("../images/index-background.jpg") no-repeat;
  background-size: 100% 485px;
  color: #000000;
  text-align: center;
}
.main-container{
  flex-grow: 1;
}
.index-welcome{
  margin: 51px auto 26px;
  width: 458px;
  height: 352px;

  background:url("../images/welcome.svg") no-repeat;
}
.index-divider{
  width: 100%;
  height: 57px;

  background: url("../images/divider.svg") no-repeat;
}
.index-container{
  width: 100%;
}
.title-text{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.index-container > .title-text{
  margin:0 auto;
  padding-top: 63px;
  padding-bottom: 31px;
}
.reasons-description{
  margin:0 auto;
  padding-bottom: 98px;
}
.reasons-list{
  margin:0;
  padding:0;

  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
}
.reasons-item{
  display: flex;
  flex-wrap: wrap;
}
.blue-background{
  background: #82B3D3;
  color: #FFFFFF;
}
.block{
  margin: 0;
  padding: 0;
  width:400px;

  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reasons-item-list .block:nth-child(odd){
  background: rgba(131, 179, 211, 0.12);
}
.white-block:nth-child(odd){
  background: rgba(131, 179, 211, 0.12);
}
.white-block:nth-child(even){
  background: rgba(131, 179, 211, 0.2);
}
.reasons-list{
  margin: 0;
  padding: 0;
}
.block-container{
  padding: 80px 85px 81px;
}
.reasons-item-logo{
  margin: 0 0 31px;
  min-height: 72px;
}
.house{
  background: url("../images/house.svg") no-repeat 50%;
}
.food{
  background: url("../images/food.svg") no-repeat 50%;
}
.gift{
  background: url("../images/gift.svg") no-repeat 50%;
}
.reasons-item-title{
  margin:0 0 30px;
  padding:0;
  max-width: 230px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.reasons-item-image-container{
  display: flex;
}
.block span{
  margin-bottom: 30px;
}
.reasons-item-description{
  margin:0;
  padding:0;
  max-width: 230px;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color:#333333;
}
.blue-background .reasons-item-description{
  color: #FFFFFF;
}
.reasons-item-list{
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
}
.white-block{
  padding: 103px 0 102px;
}
.search{
  margin:0 auto;
  width: 100%;
}
.search > .title-text{
  margin: 0 auto;
  padding: 91px 0 29px;
}
.search p{
  margin: 0 auto;
  padding-bottom: 56px;
}
.search-button{
  margin: 0 auto 93px;
  padding:0;
  width: 574px;
  min-height: 60px;

  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;

  background: #756157;
  border-radius: 4px;
  border-width: 0;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.subscribe{
  margin:0 auto;
  padding-bottom: 46px;
  width:100%;

  background: #000000 url("../images/subscribe-background.jpg") no-repeat;
  background-size: 100% auto;
  color:#FFFFFF;
}
.subscribe .title-text{
  margin: 0 auto;
  padding: 94px 0 29px;
}
.subscribe p{
  margin: 0 auto;
  padding: 0 0 46px;
}
.subscribe-form{
  display:block;
}
.page-footer{
  margin: 0;

  padding:40px 70px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-social-list{
  margin:0;
  padding:0;
  min-width:142px;
  max-width: 240px;
  min-height: 40px;

  list-style-type: none;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.footer-social-item{
  min-width: 47px;
}
.footer-social-link{
  margin:0;
  padding:0 10px 0;
  min-height: 40px;

  display:flex;
  justify-content: center;
  align-items: center;
}
.vk{
  background: url("../images/footer/vk.svg") no-repeat 50% 50%;
}
.telegram{
  background: url("../images/footer/telegram.svg") no-repeat 50% 50%;
}
.youtube{
  background: url("../images/footer/youtube.svg") no-repeat 50% 50%;
}
.academy-link{
  min-width: 114px;
  min-height: 32px;

  background: url("../images/footer/HTML_Academy.svg") no-repeat 50% 50%;
}
.phone{
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}


.main-catalog{
  background: #FFFFFF;
  color: #000000;
}
.catalog-form{
  margin: 0;
  padding: 35px 70px 70px;

  background: #000000 url("../images/catalog-background.jpg") no-repeat;
  background-size: 100% auto;
  color: #FFFFFF;
}
.catalog-form h1{
  margin: 0;
  padding-bottom: 10px;

  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}
.main-navigation{
  margin-bottom: 40px;
  padding:0;
  max-width: 1000px;

  font-size: 16px;
  line-height: 21px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.union{
  margin-right: 10px;
  min-width: 12px;
  background:url("../images/union.svg") no-repeat;
  display:flex;
}
.catalog-filters{
  display: flex;
  justify-content: space-between;
}
.catalog-filter-left{
  display: flex;
  gap:70px;
}
.catalog-filter-list{
  list-style-type: none;

  display: flex;
  flex-direction: column;
}
.catalog-filter-title{
  text-align: left;
  font-size: 20px;
  font-weight: 700;
}
.catalog-filter-item{
  text-align: left;
  font-size: 18px;
  line-height: 21px;
}
.catalog-filter-right{
  display: flex;
  gap:70px;
}
.buttons-container{
  padding-top: 60px;

  display: flex;
  flex-direction: column;
}
.catalog-hotels{
  padding:0 72px;
}
.catalog-hotels-header{
  margin: 0 auto;
  padding: 50px 0 56px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalog-hotels-header-buttons{
  margin:0;
  padding:0;
  min-width: 160px;
  max-width: 220px;
  min-height: 48px;

  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
}
.select-control{
  text-align: left;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
}
.product-list{
  margin:0;
  padding: 0 0 66px 0;

  list-style-type: none;

  display:grid;
  grid-template-columns: repeat(3, 340px);
  column-gap:18px;
}
.product-card{
  padding: 20px;

  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
}
.product-card-image{
  grid-column: 1 / -1;
}
.product-card-title{
  margin: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;

  grid-column: 1 / -1;
}
.product-card-type{
  font-size: 18px;
  line-height: 21px;
}
.product-card-price{
  font-size: 18px;
  line-height: 21px;
  color:#333333;
}
.rating{
  background: #F2F2F2;
  color:#333333;
  font-size: 16px;
  line-height: 20px;
}
.catalog-divider{
  margin: auto 0;
  height:1px;

  background: #E6E6E6;
}
.catalog-divider-container{
  padding: 0 0 30px 0;
  height:1px;
}
.pagination-container{
  margin: 0 0 25px 0;

  display:flex;
  align-items: center;
  justify-content: space-between;
}
.pagination{
  margin:0;
  padding:0;

  list-style-type: none;

  display:flex;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-link{
  padding:12px 24px;

  width: 60px;
  height: 60px;

  background-color: #82B3D3;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;

  display: block;
  box-sizing: border-box;
}
.pagination-current{
  background-color:#F2F2F2;
  color: #000000;
}
.hotels-num{
  width: 386px;

  font-size: 18px;
  line-height: 21px;
  color:#333333;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hotels-num-output{
  width:160px;
}
.catalog-subscribe{
  margin:0 auto;
  padding-bottom: 94px;
  width:100%;

  text-align: center;
}
.catalog-subscribe p{
  margin: 0 auto;
  padding-bottom: 46px;

  color:#333333;
}
.catalog-subscribe .title-text{
  margin: 0 auto;
  padding: 94px 0 29px;
}

